
    <h1 style="margin: 15px;font-size: 20px;">Top Locations<i class="fa fa-search float-right"></i></h1>
    <ul class="list-group">
        <a routerLink="/location/{{item.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let item of topLoc; index as i;" ><span>{{item.name}}</span><span class="badge badge-pill badge-success text-center d-flex float-right">{{item.percent}}%</span></a>
        <!-- <li class="list-group-item"><span>Room 101</span><span class="badge badge-pill badge-success text-center d-flex float-right">12%</span></li>
        <li class="list-group-item"><span>Room 202</span><span class="badge badge-pill badge-success text-center d-flex float-right">16%</span></li>
        <li class="list-group-item"><span>Room 303</span><span class="badge badge-pill badge-warning text-center d-flex float-right">25%</span></li> -->
    </ul>
